[Desktop Entry]
Name=neoglogg
GenericName=Log file browser
Exec=neoglogg %F
Icon=neoglogg
Type=Application
Comment=A smart interactive log explorer. Updated and upgraded.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=neoglogg --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=neoglogg --multi %F
Name=Open In A New neoglogg Window
